body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    color: white;
}

a {
    color: white;
    box-sizing: border-box;
    text-decoration-line: none;
}

h3 {
    color: white;
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
}
/*
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background: linear-gradient(90deg, #4DF6C6 0%, #4254F5 100%);
}

li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    font-size: 1.25em;
}
*/

header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    background: linear-gradient(90deg, #4DF6C6 0%, #4254F5 100%);
    padding: 1% 10%;
    position: fixed;
}

nav {
    display: flex;
    font-size: 1.15em;
    gap: 2em;
}

#logo {
    height: 35px;
}

#login {
    /* box-sizing: border-box; (?)*/
    padding: 10px 20px;
    background: linear-gradient(93.71deg, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0.23) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
    border-radius: 6px;
    border: 1px solid white;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    flex: 1;
    background-color: peru;
}

footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    background-color: #3AA89B;
    bottom: 0;
    padding: 0 10%;
    position: fixed;
}

/* Fondo para iconos */
.fa-circle {
    opacity: 0.1;
}